{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<h2>Tentang Kami</h2>
		<p>Catatan Olimpiade Informatika adalah inisiatif untuk menyebarluaskan informasi tentang olimpiade komputer / informatika dan pemrograman kompetitif di Indonesia.</p>
		<p>Dapatkan update dari kami melalui Official Account Line berikut : </p>
		<a href="https://line.me/R/ti/p/%40zmv4274z"><img height="36" border="0" alt="Tambah Teman" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>
	</div>
</div>
{% endblock %}
