{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="text-center">
		<h3> {{ bag('osn.title') }} </h3>
		<table class="table table-bordered table-hover table-sm">
			<thead class="thead-dark">
			<tr>
			{% for header in bag('osn.header') %}
				<th> {{header}} </th>
			{% endfor %}
			</tr>
			</thead>
			{% for data in bag('osn.data') %}
				<tr>
				{% for cell in data %}
					<td>{% if cell.filename %}<a href="{{cell.filename|url}}">{{cell.name}}</a>{% else %}-{% endif %}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
</div>
{% endblock %}
