<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{% block description %}{%endblock%}Catatan Olimpiade Informatika">
<meta name="author" content="Mamat Rahmat">
<meta name="google-site-verification" content="qIrbEpATR3APmNnG47b-NbW_WqcX9lK9-DYzDDD9L6o" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="{{ '/static/style.css'|url }}" rel="stylesheet">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
{% block css %}{% endblock %}
<title>{% block title %}Selamat Datang{% endblock %} — olimpiadeinformatika</title>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
  <div class="container">

    <header class="masthead">
      <h3 class="text-muted">Catatan Olimpiade Informatika</h3>

      <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav text-md-center nav-justified w-100">

            <li class="nav-item{% if this._path == '/' %} active{% endif %}">
              <a class="nav-link" href="{{ '/'|url }}">Home <span class="sr-only">(current)</span></a>
            </li>
            
            {% for href, title in [
              ['/blog', 'Blog'],
              ['/projects', 'Projects'],
              ['/about', 'About']
            ] %}
            <li class="nav-item{% if this.is_child_of(href) %} active{% endif%}">
              <a class="nav-link" href="{{ href|url }}">{{ title }}</a>
            </li>
            <li><a href=""></a>
            {% endfor %}
            
          </ul>
        </div>
      </nav>
    </header>

    <div class="page">
      {% block body %}{% endblock %}
    </div>
    
    <footer class="footer">
      &copy; Copyright 2017 by Mamat Rahmat
    </footer>
    <div class="ga-script">{{ generate_google_analytics() }}</div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
</body>
