{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="row">
      {% for project in bag('projects.list') %}
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <h2>{{ project.title }}</h2>
              <p>{{ project.description }}</p>
              <p><a class="btn btn-secondary" href="{% if 'http' in project.url %}
                  {{project.url}}
                {% else %}
                  {{project.url|url}}
                {% endif %}" role="button">Kunjungi &raquo;</a></p>            </div>
          </div>
        </div>        
      </div>
      {% endfor %}
    </div>
{% endblock %}


